<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="navbar-brand col-md-1 d-flex align-items-center justify-content-center">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/Company-Logo.svg" class="img-fluid" alt="" width="114" height="39">
    </a>
  </div>

  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">USER NAME</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body" *ngIf="userRole">

        <ul class="navbar-nav" *ngIf="userRole === 'admin'">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin-landpage">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin-task-manager">Tareas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin-user-manager">Directorio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin-project-modifier">Datos del proyecto</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cuenta
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/account-settings">Datos del usuario</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" (click)="closeSession()">Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>

        <ul class="navbar-nav" *ngIf="userRole === 'user'">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user-landpage">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user-task-archive">Registro de Tareas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user-support">Soporte</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cuenta
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/account-settings">Datos del usuario</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" (click)="closeSession()">Cerrar sesión</a></li>
            </ul>
          </li>

        </ul>

      </div>
    </div>
</nav>

