.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: initial;
    padding: initial;
    background: linear-gradient(180deg, rgb(26, 153, 169) 0%, rgba(14, 81, 89, 1) 100%);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 70vh;
    background-color: var(--clear-color);
    border-radius: 1rem;
}

.left-container {
    width: 50%;
    height: 100%;
    border-radius: 1rem 0rem 0rem 1rem;

    .img-fluid {
        width: 100%;
        height: 100%;
        border-radius: 1rem 0rem 0rem 1rem;
    }

}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    width: 50%;
    padding: 2rem;

    h1 {
        font-weight: 600 !important;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }

}
