<div class="container-fluid py-2">
  <div class="row px-2">
    <div class="col">
      <h1>Registro de tareas - {{projectTitle}}</h1>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <div class="input-group">
        <a (click)="filterByTaskName()" class="search-icon input-group-text btn" id="basic-addon1"><i-bs name="search" width="75" height="20"></i-bs></a>
        <input type="text" class="form-control" [(ngModel)]="searchTaskName" placeholder="Nombre de la tarea">
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <div class="input-group">
        <a (click)="filterByDate()" class="search-icon input-group-text btn" id="basic-addon1">
          <i-bs name="search" width="75" height="20"></i-bs>
        </a>
        <input type="text" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" [(ngModel)]="minDate" placeholder="Fecha mínima (yyyy-MM-dd)">
        <span class="arrow-icon input-group-text" id="basic-addon1">
          <i-bs name="arrow-right-short" width="30" height="30"></i-bs>
        </span>
        <input type="text" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" [(ngModel)]="maxDate" placeholder="Fecha máxima (yyyy-MM-dd)">
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Task ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Fecha de entrega</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let activity of filteredTaskList | paginate: {itemsPerPage: page.pageSize, currentPage: (page.pageIndex +1)}; let indexUser = index">
            <td>{{activity['taskId']}}</td>
            <td>{{activity['name']}}</td>
            <td>{{activity['description']}}</td>
            <td>{{activity['deadline']}}</td>
            <td>{{activity['status']}}</td>
            <td><a class="btn btn-secondary btn-sm"(click)="openTask(activity['taskId'])">Editar</a></td>
          </tr>

          <tr *ngIf="activityList['length'] === 0">
            <td colspan="5">No existen tareas asociadas a este proyecto.</td>
          </tr>

        </tbody>
      </table>
      <mat-paginator *ngIf="page.length > 10" (page)="page = $event" [length]="page.length" [pageSize]="page.pageSize"
        [pageSizeOptions]="[10]" [showFirstLastButtons]="true" [hidePageSize]="true" aria-label="Select page">
      </mat-paginator>
      <div class="mt-2 d-flex justify-content-center">
        <button class="btn btn-primary btn-lg" (click)="openCreator()">Crear nueva actividad</button>
      </div>
    </div>
  </div>
  <div>
    <a (click)="generateExcel()" class="btn btn-secondary mt-2" id="basic-addon1">Descargar copia las tareas asociadas en XLSX</a>
  </div>
  <div>
    <a (click)="generatePdf()" class="btn btn-secondary mt-2" id="basic-addon1">Descargar copia de las tareas asociadas en PDF</a>
  </div>
</div>
