<div class="card">
  <h5 class="card-header">{{projectItem.name}}</h5>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-body-secondary">{{projectItem.id}}</h6>
    <p class="card-text">{{projectItem.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{projectItem.date}}</li>
    <li class="list-group-item">{{projectItem.state}}</li>
  </ul>
  <div class="card-footer">
    <a href="#" class="btn btn-primary">Open Project</a>
  </div>
</div>
