.container-fluid{
    width: auto;
    min-height:80vh;
    margin: 0rem 2rem;
}
h4 {
    color: var(--primary-color);
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style-type: none;
}

.task-title {
    padding: 10px;
    color: var(--primary-color);
}
