<div class="container-fluid">
    <h5 class="task-date">Martes, 17 de octubre de 2023</h5>
    <div class="row task-item">
        <div class="col-1">
            <p class="task-deadline">{{taskItem.deadline}}</p>
        </div>
        <div class="col-1 task-img ">
            <img src="../../../assets/images/Vector.svg " class="img-fluid" alt="aqui debería ir la imagen de task" height="45.72px" width="36.8px">
        </div>
        <div class="col">
            <div class="row">
                <p>{{taskItem.titulo}}</p>
            </div>
            <div class="row">
                <small>{{taskItem.proyecto}}</small>
            </div>
        </div>
        <div class="col-3">
            <button class="btn btn-primary">Añadir envio</button>
        </div>
    </div>
</div>