<div class="container-fluid py-2">
    <div class="row px-2">
        <div class="col">
            <h1>Detalles de la tarea - Tarea Ejemplo</h1>
        </div>
    </div>

    <div class="activity-container card mb-2">
        <div class="row main-row">
            <div class="col-4 py-4">
                <div class="big-selector m-2">
                    <div class="bordered-container m-2">
                        <p><strong>Nombre del proyecto</strong></p>
                        <p>
                            Proyecto ejemplo
                        </p>
                    </div>
                    <div class="form-group bordered-container m-2">
                        <p><strong>Nombre de la tarea</strong></p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="form-group bordered-container m-2">
                        <p><strong>Descripción</strong></p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus tristique massa ac placerat. 
                            Sed ac nisi sit amet augue tincidunt iaculis ac in nunc. Fusce nec dui ante. Aenean eget molestie dui. 
                            Ut eleifend mollis lectus, in porta tortor vehicula eget. 
                            Pellentesque neque justo, tempus eu nulla a, tristique convallis neque. 
                            Sed libero lectus, mollis eget egestas quis, sodales sed magna.
                        </p>
                    </div>
                    <div class="form-group bordered-container m-2">
                        <p><strong>Fecha de entrega límite</strong></p>
                        <p>
                            dd/mm/aaaa
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4 py-4">
                <div class="big-selector m-2">
                    <div class="form-group bordered-container rounded">
                        <label class="form-label" for="form1"><strong>Personal asignado</strong></label>
                        <div class="my-custom-scrollbar mt-2 ">
                            <div class="border-bottom row mt-2 mb-0">
                                <div class="col-8">
                                    Trabajador x
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-sm btn-warning p-2" type="button">
                                        <i-bs name="person-dash-fill" width="75" height="20"></i-bs>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="big-selector col-2 py-4">
                <div class="row">
                    <div class="col btn-cont">
                        <button class="btn btn-lg btn-primary" type="button" onclick="location.href='/user-task-details'">
                            Marcar como finalizada
                        </button>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col btn-cont">
                        <button class="btn btn-lg btn-danger" type="button"
                            onclick="location.href='/user-task-details'">
                            Marcar como no finalizada
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-2">
        <div class="col">
            <h1>Comentarios asociados</h1>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Autor</th>
                <th scope="col">Contenido</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha de creación</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let comment of commentList | paginate: {itemsPerPage: page.pageSize, currentPage: (page.pageIndex +1)}; let indexUser = index">
                <td>{{comment['autor']}}</td>
                <td><input type="text" class="form-control" placeholder='{{comment["content"]}}'></td>
                <td>{{comment['status']}}</td>
                <td>{{comment['date']}}</td>
                <td><button class="btn btn-primary  btn-sm">Actualizar</button></td>
                <td><button class="btn btn-danger btn-sm">Eliminar</button></td>
              </tr>
              <tr *ngFor="let comment of commentList | paginate: {itemsPerPage: page.pageSize, currentPage: (page.pageIndex +1)}; let indexUser = index">
                <td>{{comment['autor']}}</td>
                <td>{{comment["content"]}}</td>
                <td>{{comment['status']}}</td>
                <td>{{comment['date']}}</td>
              </tr>

              <tr *ngIf="commentList['length'] === 0">
                <td colspan="5">No existen comentarios en las tareas a las que está asociada.</td>
              </tr>

            </tbody>
          </table>
          <mat-paginator *ngIf="page.length > 10" (page)="page = $event" [length]="page.length" [pageSize]="page.pageSize"
            [pageSizeOptions]="[10]" [showFirstLastButtons]="true" [hidePageSize]="true" aria-label="Select page">
          </mat-paginator>
    </div>
</div>
