<div class="container-fluid py-2">
    <div class="row px-2">
        <div class="col">
            <h1>Datos de la cuenta</h1>
        </div>
    </div>
    <div class="py-2">
        <form (ngSubmit)="editAccountData()" [formGroup]="form">
            <div class="row py-2">
                <div class="col-md-12">
                    <label for="firstname">Nombre Completo</label>
                    <input type="text" class="form-control" [(ngModel)]="userData.name" formControlName="name">
                    <div *ngIf="form.get('name')?.hasError('required')" class="alert alert-danger mt-2">
                      Nombre requerido.
                    </div>
                    <div *ngIf="form.get('name')?.hasError('minlength')" class="alert alert-danger mt-2">
                      El nombre debe tener al menos 2 caracteres de largo.
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6">
                    <label for="email">Correo electrónico</label>
                    <input type="text" class="form-control" [(ngModel)]="userData.email" formControlName="email">
                    <div *ngIf="form.get('email')?.hasError('required')" class="alert alert-danger mt-2">
                      Correo electrónico requerido.
                    </div>
                    <div *ngIf="form.get('email')?.hasError('email')" class="alert alert-danger mt-2">
                      Ingrese un correo electrónico válido.
                    </div>                
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                    <label for="id">ID única de usuario</label>
                    <input type="number" class="form-control" [(ngModel)]="userData.userId" formControlName="userId">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6">
                    <label for="old-password">Contraseña actual</label>
                    <input type="password" class="form-control" [(ngModel)]="userData.oldPassword" formControlName="oldPassword">
                    <div *ngIf="form.get('oldPassword')?.hasError('required')" class="alert alert-danger mt-2">
                      Contraseña actual requerida.
                    </div>
                    <div *ngIf="passwordMismatchError">
                      <p style="color: red;">La contraseña es incorrecta.</p>
                    </div>
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                    <label for="new-password">Contraseña nueva</label>
                    <input type="password" class="form-control" [(ngModel)]="userData.password" formControlName="password">
                    <div *ngIf="form.get('password')?.hasError('required')" class="alert alert-danger mt-2">
                      Contraseña requerida.
                    </div>
                    <div *ngIf="form.get('password')?.hasError('minlength')" class="alert alert-danger mt-2">
                      La contraseña debe tener al menos 8 caracteres.
                    </div>
                    <div *ngIf="form.get('password')?.hasError('pattern')" class="alert alert-danger mt-2">
                      La contraseña debe contener al menos una letra y un número.
                    </div>
                </div>
            </div>
            <div class="py-3 pb-4 border-bottom" >
                <button class="btn btn-primary mr-3" [disabled]="form.invalid">Actualizar datos</button>
            </div>
        </form>
        <div class="d-sm-flex align-items-center pt-3" id="deactivate">
            <div>
                <b>Desactiva tu cuenta</b>
                <p>Desactivar tu cuenta implica ser automáticamente eliminado de las bases de datos de los proyectos
                    a los que fuiste asignado.</p>
            </div>
        </div>
        <div class="ml-auto">
            <button class="btn danger" (click)="deleteAccount()">Desactivar</button>
        </div>
    </div>
</div>
