<div class="container-fluid py-2">
  <div class="row">
    <div class="col">
      <h1>Registro general de tareas</h1>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <div class="input-group">
        <a (click)="filterByProjectName()" class="search-icon input-group-text btn" id="basic-addon1"><i-bs name="search" width="75" height="20"></i-bs></a>
        <input type="text" class="form-control" [(ngModel)]="searchProjectName" placeholder="Nombre del proyecto">
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <div class="input-group">
        <a (click)="filterByTaskName()" class="search-icon input-group-text btn" id="basic-addon1"><i-bs name="search" width="75" height="20"></i-bs></a>
        <input type="text" class="form-control" [(ngModel)]="searchTaskName" placeholder="Nombre de la tarea">
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <div class="input-group">
        <a (click)="filterByDate()" class="search-icon input-group-text btn" id="basic-addon1">
          <i-bs name="search" width="75" height="20"></i-bs>
        </a>
        <input type="text" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" [(ngModel)]="minDate" placeholder="Fecha mínima (yyyy-MM-dd)">
        <span class="arrow-icon input-group-text" id="basic-addon1">
          <i-bs name="arrow-right-short" width="30" height="30"></i-bs>
        </span>
        <input type="text" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" [(ngModel)]="maxDate" placeholder="Fecha máxima (yyyy-MM-dd)">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Proyecto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción de tarea</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha de creación</th>
            <th scope="col">Fecha de entrega</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let task of filteredTaskList | paginate: {itemsPerPage: page.pageSize, currentPage: (page.pageIndex +1)}; let indexUser = index">
            <td>{{task['projectName']}}</td>
            <td>{{task['name']}}</td>
            <td>{{task['description']}}</td>
            <td>{{task['status']}}</td>
            <td>{{task['creationDate']}}</td>
            <td>{{task['deadline']}}</td>
            <td><a (click)="openTask(task['taskId'])" class="btn btn-secondary btn-sm">Detalles</a></td>
          </tr>

          <tr *ngIf="taskList['length'] === 0">
            <td colspan="5">No existen tareas en los proyectos a los que está asociado.</td>
          </tr>

        </tbody>
      </table>
      <mat-paginator *ngIf="page.length > 10" (page)="page = $event" [length]="page.length" [pageSize]="page.pageSize"
        [pageSizeOptions]="[10]" [showFirstLastButtons]="true" [hidePageSize]="true" aria-label="Select page">
      </mat-paginator>

    </div>
  </div>
</div>
