<div class="container-fluid py-2">
  <div class="row">
    <div class="col">
      <h1>Registro general de tareas</h1>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <div class="input-group">
        <button class="search-icon input-group-text btn" id="basic-addon1"><i-bs name="search" width="75" height="20"></i-bs></button>
        <input type="text" class="form-control" placeholder="Nombre del proyecto">
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <div class="input-group">
        <button class="search-icon input-group-text btn" id="basic-addon1"><i-bs name="search" width="75" height="20"></i-bs></button>
        <input type="text" class="form-control" placeholder="Nombre de la tarea">
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <div class="input-group">
        <button class="search-icon input-group-text btn" id="basic-addon1"><i-bs name="search" width="75" height="20"></i-bs></button>
        <input type="text" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Fecha mínima">
        <span class="arrow-icon input-group-text " id="basic-addon1"><i-bs name="arrow-right-short" width="30" height="30"></i-bs></span>
        <input type="text" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Fecha máxima">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Título</th>
            <th scope="col">Descripción de tarea</th>
            <th scope="col">Fecha de entrega</th>
            <th scope="col">Estado</th>
            <th scope="col">Proyecto</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let task of taskList | paginate: {itemsPerPage: page.pageSize, currentPage: (page.pageIndex +1)}; let indexUser = index">
            <td>{{task['titulo']}}</td>
            <td>{{task['descripcion']}}</td>
            <td>{{task['fecha-de-entrega']}}</td>
            <td>{{task['status']}}</td>
            <td>{{task['proyecto']}}</td>
            <td><button class="btn btn-secondary btn-sm" onclick="location.href='/user-task-details'">Detalles</button></td>
          </tr>

          <tr *ngIf="taskList['length'] === 0">
            <td colspan="5">No existen tareas en los proyectos a los que está asociado.</td>
          </tr>

        </tbody>
      </table>
      <mat-paginator *ngIf="page.length > 10" (page)="page = $event" [length]="page.length" [pageSize]="page.pageSize"
        [pageSizeOptions]="[10]" [showFirstLastButtons]="true" [hidePageSize]="true" aria-label="Select page">
      </mat-paginator>

    </div>
  </div>
</div>
