<div class=".container-fluid">
  <div class="hero1 px-4 py-5 text-center">
    <h1 class="h4 fw-bold mb-0">Soporte</h1>
    <h1 class="display-8 fw-bold mb-5">Preguntas frecuentes</h1>

    <div class="container my-2">
      <div class="d-flex justify-content-between align-items-center">
        <strong class="p-2">¿Cómo puedo asignar tareas a diferentes miembros del equipo?</strong>
        <button class="btn text-right p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDescription1" aria-expanded="false" aria-controls="collapseDescription1">
          +
        </button>
      </div>
      <div class="collapse" id="collapseDescription1">
        <hr class="dropdown-divider">
        <div>
          Para asignar tareas a miembros específicos, ve a la sección de "Tareas" dentro de tu proyecto. Allí, encontrarás la opción de asignar cada tarea a un miembro del equipo. Simplemente elige el nombre del miembro deseado en el menú desplegable y guarda los cambios.
        </div>
      </div>
    </div>

    <div class="container my-2">
      <div class="d-flex justify-content-between align-items-center">
        <strong class="p-2">¿Cómo puedo actualizar el estado de un proyecto?</strong>
        <button class="btn text-right p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDescription2" aria-expanded="false" aria-controls="collapseDescription2">
          +
        </button>
      </div>
      <div class="collapse" id="collapseDescription2">
        <hr class="dropdown-divider">
        <div>
          Para actualizar el estado de un proyecto, navega a la página principal del proyecto y busca la opción "Estado". Puedes elegir entre opciones como "En Progreso", "Completado" o cualquier otro estado personalizado que hayas configurado. Asegúrate de guardar los cambios para reflejar la actualización del estado.
        </div>
      </div>
    </div>

    <div class="container my-2">
      <div class="d-flex justify-content-between align-items-center">
        <strong class="p-2"> ¿Es posible establecer fechas límite para las tareas?</strong>
        <button class="btn text-right p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDescription3" aria-expanded="false" aria-controls="collapseDescription3">
          +
        </button>
      </div>
      <div class="collapse" id="collapseDescription3">
        <hr class="dropdown-divider">
        <div>
          Sí, puedes establecer fechas límite para las tareas. Al editar una tarea en la sección correspondiente, encontrarás un campo para la "Fecha de Vencimiento". Simplemente selecciona la fecha deseada y guarda la tarea. Recibirás recordatorios automáticos conforme se acerque la fecha límite.
        </div>
      </div>
    </div>

    <div class="container my-2">
      <div class="d-flex justify-content-between align-items-center">
        <strong class="p-2">¿Cómo puedo agregar nuevos usuarios al proyecto?</strong>
        <button class="btn text-right p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDescription4" aria-expanded="false" aria-controls="collapseDescription4">
          +
        </button>
      </div>
      <div class="collapse" id="collapseDescription4">
        <hr class="dropdown-divider">
        <div>
          Para agregar nuevos usuarios al proyecto, ve a la sección de "Miembros" o "Colaboradores" dentro de la configuración del proyecto. Allí, encontrarás la opción de invitar nuevos usuarios. Ingresa sus direcciones de correo electrónico y asigna los roles correspondientes, luego envía las invitaciones.
        </div>
      </div>
    </div>

    <div class="container my-2">
      <div class="d-flex justify-content-between align-items-center">
        <strong class="p-2">¿Qué debo hacer si olvidé mi contraseña para acceder a la plataforma?</strong>
        <button class="btn text-right p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDescription5" aria-expanded="false" aria-controls="collapseDescription5">
          +
        </button>
      </div>
      <div class="collapse" id="collapseDescription5">
        <hr class="dropdown-divider">
        <div>
          Si olvidaste tu contraseña, ve a la página de inicio de sesión y haz clic en "¿Olvidaste tu contraseña?". Se te pedirá que ingreses tu dirección de correo electrónico asociada a la cuenta. Recibirás un enlace para restablecer la contraseña en tu correo electrónico. Sigue las instrucciones del correo para crear una nueva contraseña y acceder nuevamente a tu cuenta.
        </div>
      </div>
    </div>
  </div>
  <div class="hero2 px-4 py-5 text-center">
    <h1 class="h4 fw-bold mb-0">¿Necesita ayuda?</h1>
    <h1 class="display-8 fw-bold">Mandar un ticket</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"><strong>Envíe su duda y nuestro equipo de soporte se pondrá en contacto con usted mediante su correo electrónico.</strong></p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <form class="d-flex" (ngSubmit)="callMailService()" [formGroup]="form">
          <input class="form-control me-2" type="search" [(ngModel)]="sendRequest" formControlName="sendRequest">
          <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Enviar</button>
        </form>
      </div>
      <p><small>Recibirá un correo de respuesta en el plazo de una semana, si no recive respuesta, comuniquese al correo "placeholder@correo.com".</small></p>
    </div>
  </div>
</div>
