.page-content {
    width: 100vw;
    height: 100vh;
    margin: initial;
    padding: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgb(26, 153, 169) 0%, rgba(14, 81, 89, 1) 100%);
}

.login-container {
    height: 70vh;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 1rem;
}

.left-container {
    height: 100%;
    width: 50%;
    border-radius: 1rem 0rem 0rem 1rem;

    .img-fluid {
        height: 100%;
        width: 100%;
        border-radius: 1rem 0rem 0rem 1rem;
    }

}

.right-container {
    width: 50%;
    display: flex;
    align-items: initial;
    padding: 2rem;
    justify-content: center;
    flex-direction: column;

    h1{
        font-weight: 600 !important;
    }

    form {
        display: flex;
        gap: 1rem;
        flex-direction: column;

        button{
            background-color: var(--primary-color);
            border-color: var(--primary-color);
        }
    }

}
