<div class="container-fluid px-2">
  <div class="row">
    <div class="col">
      <h3>Control</h3>
      <h1>Estadísticas y métricas de seguridad en tiempo real</h1>
      <div class="metrics">
        <ngx-charts-line-chart
          [view]="[450, 300]"
          [results]="dataset"
          [xAxisLabel]="'x-axis'"
          [legendTitle]="'legend'"
          [yAxisLabel]="'y-axis'"
          [legend]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxis]="true"
          [yAxis]="true"
          [gradient]="false">
        </ngx-charts-line-chart>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Actividades</h3>
      <h1>Gestione y administre las cuentas de usuario, defina roles y permisos, y supervise el acceso a recursos
        críticos.</h1>
        <div class="content">
          <p>Tareas relacionadas con la administración de cuentas de usuario.</p>
          <button type="button" class="btn btn-primary">Gestión de Usuarios</button>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Resuelva dudas de otros usuarios.</h1>
      <div class="content">
        <p>Como administrador, tiene la tarea de revisar los tickets de soporte que manden los usuarios.</p>
        <button type="button" class="btn btn-primary">Revisión de Tickets</button>
      </div>
    </div>
  </div>
</div>