h3{
    color: var(--primary-color);
}

.container-fluid{
    width: auto;
    min-width: 80%;
    margin: 0rem 2rem;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
