<footer class="d-flex flex-wrap justify-content-between align-items-center py-2">
  <div class="col-md-4 d-flex align-items-center justify-content-center">
    <img src="../../../assets/images/Company-Logo.svg" class="img-fluid" alt="" width="114" height="39">
  </div>
  
  <div class="text-center p-3 col-md-4">
    Gragas © 2023 Copyright: Todos los derechos reservados
  </div>

  <ul class="nav col-md-4 justify-content-center">
    <li class="nav-item"><a href="/about-us" class="nav-link px-2">Sobre nosotros</a></li>
  </ul>
</footer>